<%= erb :header %>

	<div class="operations">
	  <h2 class="step2">&nbsp;</h2>
	</div>
<div class="selectLanguages module">

	<form action="step3" method="get" accept-charset="utf-8">
		<ul>
			<li>
				<legend>Please select 1 or more languages:</legend>
				<ul>
					<% @languages.each_with_index do |language, i| %>
					<li>
						<input type="checkbox" name="language<%= i %>" value="<%= language %>"> <%= language %>
					</li>
					<% end %>
				</ul>
			</li>
			<li>
				<legend>Details?</legend>
				<div class="time">	
					<label>When is the election?</label>
					<input type="text" value="11/04/2012" name="date">
				</div>
				<div class="time">	
					<label>What time does the Polling Location open?</label>
					<input type="text" value="8:00am" name="time1">
				</div>
				<div class="time">	
					<label>What time does the Polling Location close?</label>
					<input type="text" value="8:00pm" name="time2">
				</div>
			</li>
			<li>
				<div class="clear"></div>
				<input type="submit" value="Next Step &#187;">
			</li>
		</ul>
	</form>
	<p>
		All translations can be seen on <a href="https://github.com/danmelton/vip_multilingual_posters/blob/master/files/translations.yml">here</a> on github.
	</p>
</div>

<%= erb :footer %>
