<%= erb :header %>

	<div class="operations">
	  <a href="/"><h2 class="step2">&nbsp;</h2></a>
	</div>
  <p><h1>Select Languages & Enter Date for Election</h1></p>
<div class="selectLanguages module">

	<form action="step3" method="get" accept-charset="utf-8">
		<ul>
			<li>
				<legend>Please select 1 or more languages:</legend>
				<ul>
					<% @languages.each_with_index do |language, i| %>
					<li>
						<input type="checkbox" name="language<%= i %>" value="<%= language %>"> <%= language %>
					</li>
					<% end %>
				</ul>
			</li>
			<li>
				<legend>When is the election?</legend>
				<div class="time">	
					<input type="text" value="11/04/2012" name="date">
				</div>
			</li>
			<li>
				<div class="clear"></div>
				<input type="submit" value="Next Step &#187;">
			</li>
		</ul>
	</form>
	<p>
		All translations can be seen on <a href="https://github.com/danmelton/vip_multilingual_posters/blob/master/files/translations.yml">here</a> on github.
	</p>
</div>

<%= erb :footer %>
